
body {
    margin: 0;
    padding: 0;
    background:#ddd;
    font-family: Arial, Helvetica, sans-serif;
    height: 95% !important;
}

#container{
    width: 60%;
    border-radius: 30px;
    background-color: #fff;
    margin:30px auto;
    overflow: hidden;
    padding: 50px 50px 0px 50px;
    
}
#spacer{
    height: 20px;
    display: block;
}
#navContent{
    width:700px;
    position:relative;
    overflow:hidden;
}
#game1{
    margin:auto;
    width:700px;
    right:0px;
    position:absolute;
}
#game2{
    margin:auto;
    width:700px;
    right:-700px;
    position:absolute;
}
.questionText{
    
}
.result{
    font-weight: bold;
}
.option{
    width:400px;
    
    margin:15px;
    padding:5px;
    padding-left:10px;
    
    border-radius: 8px;
    cursor:pointer;
    background-color:rgb(240, 240, 240);
}
.option:hover{
    border:rgb(0, 238, 255);
    background-color:rgb(190, 233, 233);
}

header{
    border-bottom:#fff dashed 1px;
}

header h1{
    margin:0;
    padding:0;
}

header p{
    padding:0;
    margin-top:5px;
    color:#000;
}

section{
    min-height: 400px;
}


input[type='submit']{
    background: #f06226;
    border:0;
    color:#fff;
    padding:10px 15px;
    cursor: pointer;
}

#results h3{
    background: #f06226;
    padding: 10px;
    margin: 10px 0;
}

#results span{
    color: #000;
    font-weight:bold; 
}


#writer{
    margin: 60px 0px;
    font-size: 11px;
}

.label{
    margin-top:20px!important;
}


footer{
    text-align: center;
}

@media screen and (max-width:800px){
    #container{
        width: 80%;
        border-radius: 20px;
        background-color: #fff;
        margin:30px auto;
        overflow: hidden;
        padding: 30px 30px 0px 30px;
    }
    #navContent{margin:1%;width:98%;}	
	#game1{margin:1%;width:98%;}
    #game2{margin:1%;width:98%;}
    .option{width:90%;margin-top:5%;}
}

@media screen and (max-width:460px){
    body{
        background-color: #fff;
    }
    #container{
        width: 100%;
        border-radius: 0px;
        background-color: #fff;
        margin:0;
        overflow: hidden;
        padding: 20px 20px 0px 20px;
    }
    .option{width:90%;margin-top:5%;}
}